---
import type { Project } from '../types/project';
import ProjectCard from './ProjectCard.astro';

interface Props {
  projects: Project[];
}

const { projects } = Astro.props;
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  {projects.map((project) => (
    <ProjectCard project={project} />
  ))}
</div>
